.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}