.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    section, h1, p,
    div {
      flex-direction: column;
    }
  }