/* Styles for the contact section, including padding and background color */
.contact-section {
  padding: 2rem;
  background-color: lightgray;
  padding: 280px;
  
}


/* Styles for the contact form container */
.contact-form {
  background-color: var(--muted-tertiary-color);
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem 2rem 0.5rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
  animation: myAnim 0.75s ease 0s 1 normal forwards;
}


/* Styles for input fields and textareas */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}

/* Styles for textarea to set height and resizing options */
.contact-form textarea {
  height: 150px;
  resize: vertical;
}

/* Styles for submit button, including background color and transition */
.contact-form button {
  border: #333;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: darkgray;
}


/* Styles for form errors */
.form-errors {
  color: red !important;
  margin: 0.5rem 0;
}

/* Keyframes for animation */
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Small screens (mobile phones) */
@media (max-width: 575px) {
  .contact-section {
    padding: 1.5rem;
    height: 1000px;
  }

}

/* Medium screens (tablets) */
@media (min-width: 576px) and (max-width: 767px) {
  .contact-section {
    padding: 1.5rem;
    height: 1050px;
  }
}

/* Large screens (desktops) */
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-section {
    padding: 1.5rem;
    height: 1000px;
  }
}

/* Extra large screens (large desktops) */
@media (min-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}