.header {
    display: flex;
    background: url(src/assets/skybackground.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: lightblue;
    position: relative;
    width: 100%;
 
}
/* Small screens (mobile phones) */
@media (max-width: 575px) {
    .portfolio-section {
      padding: 1.5rem;
    }
    .projects-grid {
      grid-template-columns: 1fr;
    }
    .project-title {
      font-size: 1.2rem;
    }
  }
  
  /* Medium screens (tablets) */
  @media (min-width: 576px) and (max-width: 767px) {
    .projects-grid {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .project-title {
      font-size: 1.3rem;
    }
  }
  
  /* Large screens (desktops) */
  @media (min-width: 768px) and (max-width: 1199px) {
    .projects-grid {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }
  
 