/* Define global styles and custom properties (CSS variables) */
:root {
  /* Font settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}